<div>
  <p><strong>Lagos Island Tradesmen</strong></p>
  <p>benarivo66@gmail.com</p>
  <p>+2347038888582</p>
</div>
<div>
  <a href="x.com/anthony_izekor" aria-label="twitter icon">
    <img
      id="twitter"
      src="images/twitter.svg"
      loading="lazy"
      alt="twitter icon"
    />
  </a>
  <a href="https://www.instagram.com/benarivo66/" aria-label="instagram icon">
    <img
      id="instagram"
      src="images/instagram.svg"
      loading="lazy"
      alt="instagram icon"
    />
  </a>
  <a
    href="https://www.youtube.com/@benarivotutorial9843"
    aria-label="youtube icon"
  >
    <img
      id="youtube"
      src="images/youtube.svg"
      loading="lazy"
      alt="youtube icon"
    />
  </a>
</div>
<div>
  <p>WDD 330 Class Project</p>
  <p>Anthony E. Izekor</p>
</div>
