  <div>
      <img src="/images/tradesman_icon.svg" loading="lazy" alt="tradesman icon">
      <div>
          <h1 class="lora-normal">Lagos Island Tradesmen</h1>
          <p>Built to Build, Ready to Deliver</p>
      </div>
  </div>
  <form name="searchForm" action="tradesmen/index.html" method="GET">
    <input
      type="text"
      name="trade"
      placeholder="Search...e.g plumber, electrician etc"
    />
    <input type="submit" value="Search" />
  </form>
  <div>
      <nav id="animateme">
          <span>
          <a id="homeLink" href="index.html" aria-label="home">Home</a>
          <a id="tradesmenLink" href="tradesmen/index.html" aria-label="tradesmen page">Tradesmen</a>
          <a id="proximityLink" href="proximity/index.html" aria-label="proximity page">Proximity</a>
          <a id="joinLink" href="join/index.html" aria-label="join us page">Join&nbsp;Us</a>
      </span>
      </nav>
      <button id="menu" aria-label="Menu"></button>
  </div>

