<div>
  <img
    id="trademanIcon"
    src="/images/tradesman_icon.svg"
    loading="lazy"
    alt="tradesman icon"
  />
  <div>
    <h1 class="lora-normal">Lagos Island Tradesmen</h1>
    <p>Built to Build, Ready to Deliver</p>
  </div>
</div>
<form name="searchForm" action="tradesmen/tradesmen.html" method="GET">
  <input
    type="text"
    name="trade"
    placeholder="Search...e.g plumber, electrician etc"
  />
  <input type="submit" value="Search" />
</form>
<div>
  <nav id="animateme">
    <span>
      <a id="homeLink" href="index.html" aria-label="home">Home</a>
      <a
        id="tradesmenLink"
        href="tradesmen/tradesmen.html"
        aria-label="tradesmen page"
        >Tradesmen</a
      >
      <a id="aboutLink" href="about/about.html" aria-label="about page"
        >About</a
      >
      <a id="joinLink" href="join/join.html" aria-label="join us page"
        >Join&nbsp;Us</a
      >
    </span>
  </nav>
  <button id="menu" aria-label="Menu"></button>
</div>
